/* [Helpers]
-------------------------------------------------------*/

/*
    This is the only chapter where the '!important' keyword should be used as these rules
    have to over-ride everything they're being appended to.
*/

// Hide only visually, but have it available for screenreaders
.hide-visually {
	position: absolute!important;
	height: 1px!important;
	width: 1px!important;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
